@import "./Componentes/mixins.less";
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");


html,
body {
  height: 100%;
  width: 100;
  margin: 0;
}

body {
  font-family: Manrope, sans-serif;
  line-height: 1.6;
 
}

@media screen and (min-width: 1024px) {
  .s-center(left)
}