@import "../../../mixins.less";

#description{
   /* font-size: 0.8rem;*/
    .s-center(center);
    .media(1.5rem); 
    line-height: 0.6;
    .line-1{
        font-family: 'Roboto Condensed', sans-serif;
        color: #e71647;
        font-size: 36px;
        margin-top:50px;
    }

    .line-2{
        font-size: 17px;
       // font-family: 'Lato', sans-serif;
        padding-left: 0px;
        padding-top: 0px;
        
    }
    .line-3{
        font-size: 17px;
        // font-family: 'Lato', sans-serif;
         padding-left: 0px;
         padding-top: 0px;
         
    }
    .line-4{
        font-size: 17px;
        // font-family: 'Lato', sans-serif;
         padding-left: 0px;
         padding-top: 0px;
         
    }
 
}