.absolute {
  position: absolute;
}
#description {
  /* font-size: 0.8rem;*/
  text-align: center;
  line-height: 0.6;
}
@media screen and (min-width: 1024px) {
  #description {
    font-size: 1.5rem;
  }
}
#description .line-1 {
  font-family: 'Roboto Condensed', sans-serif;
  color: #e71647;
  font-size: 36px;
  margin-top: 50px;
}
#description .line-2 {
  font-size: 17px;
  padding-left: 0px;
  padding-top: 0px;
}
#description .line-3 {
  font-size: 17px;
  padding-left: 0px;
  padding-top: 0px;
}
#description .line-4 {
  font-size: 17px;
  padding-left: 0px;
  padding-top: 0px;
}
