.absolute {
  position: absolute;
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v25/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyxSmxpg.ttf) format('truetype');
}
.main-form {
  background: radial-gradient(79.43% 251.58% at 23.18% 73.07%, #225B79, #3892c2 44.41%, #216080 56.43%, #19475F 69.58%, #102B39 100%, #010304 0);
  color: #fff;
  padding: 2rem 1rem 0;
}
@media screen and (min-width: 1024px) {
  .main-form .container-Saber .content-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
    margin: auto;
  }
}
.main-form .descriptionSaber .line-1-form {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  background: #bdf0fa;
  color: #0ebd84;
  font-weight: bold;
  padding: 10px;
  /*animation*/
}
.main-form .descriptionSaber .line-2-form {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  background: #bdf0fa;
  color: #0ebd84;
  font-weight: bold;
  padding: 10px;
  /*animation*/
}
.main-form .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.main-form .form div {
  margin: 8px;
}
.main-form .form input {
  width: 50%;
  height: auto;
}
.main-form .form .name-apellido {
  display: flex;
}
.main-form .form .mail-phone {
  display: flex;
}
