.absolute {
  position: absolute;
}
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/orbitron/v25/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyxSmxpg.ttf) format('truetype');
}
.main-form {
  background: radial-gradient(79.43% 251.58% at 23.18% 73.07%, #225b79, #3892c2 44.41%, #216080 56.43%, #19475f 69.58%, #102b39 100%, #010304 0);
  color: #fff;
  padding: 2rem 1rem 0;
}
@media screen and (min-width: 1024px) {
  .main-form .container-Saber .content-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
    margin: auto;
  }
}
.main-form .descriptionSaber .line-1-form {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  background: #bdf0fa;
  color: #0ebd84;
  font-weight: bold;
  padding: 10px;
}
.main-form .descriptionSaber .line-2-form {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  background: #bdf0fa;
  color: #0ebd84;
  font-weight: bold;
  padding: 10px;
}
.main-form .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.main-form .form ul {
  list-style: none;
}
.main-form .form ul li + li {
  margin-top: 1em;
}
.main-form .form ul label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
}
.main-form .form div {
  margin: 2px;
  flex-direction: column;
}
.main-form .form input,
.main-form .form textarea {
  height: auto;
  width: 300px;
  box-sizing: border-box;
  /* Match form field borders */
  border: 1px solid #999;
}
.main-form .form textarea {
  vertical-align: top;
}
.main-form .form button {
  background-color: #25d366;
  color: #fff;
}
.main-form .form .name-apellido {
  display: flex;
  justify-content: space-around;
}
.main-form .form .mail-phone {
  display: flex;
  justify-content: space-around;
}
