.absolute {
  position: absolute;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #16a5a3;
  padding: 30px 5%;
}
nav img {
  width: 150px;
}
nav .enlace .enlace-base {
  color: #f0f0f0;
  position: relative;
  padding: 0 20px;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
}
nav .enlace .enlace-base:hover {
  color: #faaf38;
  font-weight: 700;
  transform: scale(1.05);
}
nav .enlace .enlace-base::before {
  content: "";
  width: 0;
  height: 2px;
  background: #faaf38;
  position: absolute;
  bottom: -5px;
  transition: all 0.5s;
}
nav .enlace .enlace-base:hover::before {
  width: 50%;
}
