/* Inicio */
@import "../../../mixins.less";

.graphic {
  position: relative;
  display: grid;
  padding-top: 3rem;
  grid-template-columns: 1fr 75%;
  .graphic-man {
    //  height: 500px;
    //width: 500px;

    width: 100%;
    grid-column-start: 2;
  }
  .graphic-go {
    .absolute();

    //.tamagno(50px, 100px);
    mix-blend-mode: screen;
    top: 24%;
    right: 28%;
    //  width: 100px;
    //display: none;
    width: 10%;
    transform: rotate(5deg);
  }

  .graphic-circle {
    .absolute();
//position: absolute;
    height: 60%;
    aspect-ratio: 1/1;

    img {
      width: 100%;
      height: 100%;
      mix-blend-mode: screen;
      .absolute()
    }

    .graphic-tecnologia {
     // .absolute();
      // .tamagno(100px, 100px)
      animation: turn1 5s linear infinite;
    }
    .graphic-energy {
    //  .absolute();
      animation: turn1 15s linear infinite;
    }

    @keyframes turn1 {
      to {
        transform: rotate(1turn);
      }
    }
  }
}
