.main-banner {
  background: radial-gradient(79.43% 251.58% at 23.18% 73.07%, #0142a0 0, #0f133a 44.41%, #101034 56.43%, #101034 69.58%, #301436 100%, #411958 0);
  color: #fff;
  padding: 2rem 1rem 0;
}
