@media screen and (min-width: 1024px) {
  .conteiner-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 1200px;
  }
  .conteiner-gallery .gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 20%;
    height: 100%;
  }
  .conteiner-gallery .gallery :hover {
    border: 1px solid #777;
  }
  .conteiner-gallery .gallery img {
    height: auto;
    object-fit: cover;
    width: 100%;
  }
  .conteiner-gallery .gallery .desc {
    padding: 15px;
    text-align: center;
  }
}
@media screen and (max-width: 1024px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(1 1fr);
    gap: 2px;
  }
  .container {
    height: 100%;
    margin: 0;
  }
  .item-image {
    object-fit: cover;
    width: 100%;
  }
}
